#htmlToothbrush #bodyToothbrush .parentToothbrush .bilibili-player-video {
    margin: 0 !important;
}

#htmlToothbrush,
#bodyToothbrush {
    overflow: hidden !important;
    zoom: 100% !important;
}

#htmlToothbrush #bodyToothbrush .parentToothbrush {
    overflow: visible !important;
    z-index: auto !important;
    transform: none !important;
    -webkit-transform-style: flat !important;
    transition: none !important;
    contain: none !important;
}

#htmlToothbrush #bodyToothbrush .absoluteToothbrush {
    position: absolute !important;
}

#htmlToothbrush #bodyToothbrush .playerToothbrush {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100vw !important;
    height: 100vh !important;
    max-width: none !important;
    max-height: none !important;
    min-width: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 2147483646 !important;
    border: none !important;
    background-color: #000 !important;
    transform: none !important;
}

#htmlToothbrush #bodyToothbrush .parentToothbrush video {
    object-fit: contain !important;
}

#htmlToothbrush #bodyToothbrush .parentToothbrush .videoToothbrush {
    width: 100vw !important;
    height: 100vh !important;
}

#playerControlBtn {
    text-shadow: none;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all 0.5s ease;
    cursor: pointer;
    font: 12px "微软雅黑";
    margin: 0;
    width: 64px;
    height: 20px;
    line-height: 20px;
    border: none;
    text-align: center;
    position: fixed;
    z-index: 2147483647;
    background-color: #27A9D8;
    color: #FFF;
}

#playerControlBtn:hover {
    visibility: visible;
    opacity: 1;
    background-color: #2774D8;
}

#picinpicBtn {
    text-shadow: none;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: all 0.5s ease;
    cursor: pointer;
    font: 12px "微软雅黑";
    margin: 0;
    width: 53px;
    height: 20px;
    line-height: 20px;
    border: none;
    text-align: center;
    position: fixed;
    z-index: 2147483647;
    background-color: #27A9D8;
    color: #FFF;
}

#picinpicBtn:hover {
    visibility: visible;
    opacity: 1;
    background-color: #2774D8;
}

#leftFullStackButton {
    display: none;
    position: fixed;
    width: 1px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2147483647;
    background: #000;
}

#rightFullStackButton {
    display: none;
    position: fixed;
    width: 1px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 2147483647;
    background: #000;
}

#mpiv-bar {
    position: fixed;
    z-index: 2147483647;
    left: 0;
    right: 0;
    top: 0;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform-origin: top;
    -webkit-transform-origin: top;
    transition: transform 500ms ease 1000ms;
    -webkit-transition: -webkit-transform 500ms ease 1000ms;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4px 10px;
}

#mpiv-bar.mpiv-show {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

#mpiv-popup.mpiv-show {
    display: inline;
}

#mpiv-popup {
    display: none;
    border: 1px solid gray;
    box-sizing: content-box;
    background-color: white;
    position: fixed;
    z-index: 2147483647;
    margin: 0;
    max-width: none;
    max-height: none;
    will-change: display, width, height, left, top;
    cursor: none;
}

.mpiv-loading:not(.mpiv-preloading) * {
    cursor: wait !important;
}

.mpiv-edge #mpiv-popup {
    cursor: default;
}

.mpiv-error * {
    cursor: not-allowed !important;
}

.mpiv-ready *,
.mpiv-large * {
    cursor: zoom-in !important;
    cursor: -webkit-zoom-in !important;
}

.mpiv-shift * {
    cursor: default !important;
}